PTT_Telegram_Workflow.json
{
  "name": "PTT省錢版通知",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      },
      "id": "d48a6236-987f-4af8-904d-a59e21b75dca",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://www.ptt.cc/bbs/Lifeismoney/index.html",
        "responseFormat": "string",
        "options": {
          "fullResponse": false
        }
      },
      "id": "11b1f765-5111-425e-ba1c-56195e44d97c",
      "name": "Fetch PTT Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const html = $json.data || $json.body || $json;\n\nif (!html || typeof html !== 'string') {\n  throw new Error(\"沒有取得 HTML 內容，請檢查 HTTP Request 節點的設定\");\n}\n\n// 抓所有文章的 div.title 中的 a 標籤\nconst matches = html.match(/<div class=\"title\">[\\s\\S]*?<a href=\"([^\"]+)\">([\\s\\S]*?)<\\/a>/g);\nif (!matches) {\n  return [];\n}\n\n// 找到 [公告] 的位置，並往上一筆取\nlet result = null;\nfor (let i = 0; i < matches.length; i++) {\n  if (matches[i].includes('省錢板板規')) {\n    if (i > 0) {\n      const linkMatch = matches[i - 1].match(/href=\"([^\"]+)\"/);\n      const titleMatch = matches[i - 1].match(/<a href=\"[^\"]+\">([\\s\\S]*?)<\\/a>/);\n      result = {\n        json: {\n          title: titleMatch ? titleMatch[1].trim() : \"\",\n          url: linkMatch ? `https://www.ptt.cc${linkMatch[1]}` : \"\"\n        }\n      };\n    }\n    break;\n  }\n}\n\nreturn result ? [result] : [];"
      },
      "id": "0318e735-d46b-455a-b91e-e4159677a8d6",
      "name": "Extract Latest Post",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "8091718303",
        "text": "=最新文章：{{$json[\"title\"]}}\n連結：{{$json[\"url\"]}}",
        "additionalFields": {}
      },
      "id": "2b7db581-d93d-4351-99a2-1b8fe2b9af61",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        760,
        0
      ],
      "webhookId": "556a7109-6cb4-40a7-8cba-e9b87914dc04",
      "credentials": {
        "telegramApi": {
          "id": "qYTWjt3wnkAXrKBq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch PTT Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch PTT Page": {
      "main": [
        [
          {
            "node": "Extract Latest Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Latest Post": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d178af1e-e542-4fa9-9346-4c5d39980da9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d4d08f74cb5fac2064452457f86421811f28a4654356e6cce5fa93fb63a5028"
  },
  "id": "q67ar3ZxSvWKO9xO",
  "tags": []
}